<!-- {% macro button_eye(is_watched) %} -->
<!-- <button -->
<!--   type="submit" -->
<!--   class="action-icon-eye" -->
<!--   data-watched="{{'true' if is_watched else 'false'}}" -->
<!-- > -->
<!--   <svg -->
<!--       width="32" height="32" -->
<!--     viewBox="0 0 16 16" fill="none" -->
<!--     xmlns="http://www.w3.org/2000/svg"> -->
<!--     <path d="M2.20912 7.70929C4.15647 5.12283 8.82542 1.93928 13.7462 7.69562C13.8952 7.86994 13.9051 8.12847 13.7599 8.30597C11.6423 10.8919 6.77816 14.0548 2.22279 8.28937C2.08978 8.12101 2.08015 7.88073 2.20912 7.70929ZM8.00014 6.00031C6.89557 6.00031 6.00014 6.89574 6.00014 8.00031C6.00031 9.10473 6.89568 10.0003 8.00014 10.0003C9.10454 10.0002 9.99996 9.10468 10.0001 8.00031C10.0001 6.89578 9.10464 6.00038 8.00014 6.00031Z" -->
<!--     fill="url(#paint0_linear_1008_54)"/> -->
<!--     <circle cx="8" cy="8" r="1" fill="url(#paint1_linear_1008_54)"/> -->
<!--     <defs> -->
<!--       <linearGradient id="paint0_linear_1008_54" x1="7.99035" y1="4.46613" x2="7.99035" y2="11.5335" gradientUnits="userSpaceOnUse"> -->
<!--         <stop offset="0.2" stop-color="#FCD54A"/> -->
<!--         <stop offset="0.9" stop-color="#FBC504"/> -->
<!--       </linearGradient> -->
<!--       <linearGradient id="paint1_linear_1008_54" x1="8" y1="7" x2="8" y2="9" gradientUnits="userSpaceOnUse"> -->
<!--         <stop offset="0.2" stop-color="#FCD54A"/> -->
<!--         <stop offset="0.9" stop-color="#FBC504"/> -->
<!--       </linearGradient> -->
<!--     </defs> -->
<!--   </svg> -->
<!-- </button> -->
<!-- {% endmacro %} -->
<!-- {% macro button_save(on_watchlist) %} -->
<!-- <button -->
<!--   type="submit" -->
<!--   class="action-icon-save" -->
<!--   data-watchlist="{{'true' if on_watchlist else 'false'}}" -->
<!-- > -->
<!--   <svg -->
<!--     xmlns="http://www.w3.org/2000/svg" -->
<!--     width="32" -->
<!--     height="32" -->
<!--     viewBox="0 0 16 16" -->
<!--     fill="none"> -->
<!--     <path d="M11.5 3V12L8.59961 9.8252C8.24412 9.55868 7.75588 9.55868 7.40039 9.8252L4.5 12V3H11.5Z" fill="url(#paint0_linear_1008_140)" stroke="none" stroke-linejoin="round"/> -->
<!--     <defs> -->
<!--       <linearGradient id="paint0_linear_1008_140" x1="8" y1="2.5" x2="8" y2="13" gradientUnits="userSpaceOnUse"> -->
<!--         <stop offset="0.1" stop-color="#FCD54A"/> -->
<!--         <stop offset="0.8" stop-color="#FBC504"/> -->
<!--       </linearGradient> -->
<!--       <linearGradient id="paint1_linear_1008_140" x1="8" y1="2.5" x2="8" y2="13" gradientUnits="userSpaceOnUse"> -->
<!--         <stop offset="0.1" stop-color="#FCD54A"/> -->
<!--         <stop offset="0.8" stop-color="#FBC504"/> -->
<!--       </linearGradient> -->
<!--     </defs> -->
<!--   </svg> -->
<!-- </button> -->
<!-- {% endmacro %} -->
{% macro button_eye(is_watched) %}
<button
  type="submit"
  class="action-icon-eye"
  data-watched="{{'true' if is_watched else 'false'}}"
>
  <svg width="32" height="32">
    <use href="#icon-eye"></use>
  </svg>
</button>
{% endmacro %}
{% macro button_save(on_watchlist) %}
<button
  type="submit"
  class="action-icon-save"
  data-watchlist="{{'true' if on_watchlist else 'false'}}"
>
  <svg width="32" height="32">
    <use href="#icon-save"></use>
  </svg>
</button>
{% endmacro %}
