<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for("static", filename="style.css")}}">
    <title>{% block title %}Popcco{% endblock %}</title>
  </head>
  <body>
    <section id="container">
    {% if request.endpoint not in ['login', 'register'] %}
      <header id="navigation" class="center-content">
        <section>
         <a href="{{url_for('index')}}">
           <img src="{{url_for("static", filename="/images/logo.svg")}}" alt="Popcco Logo">
         </a>

          <nav>
            <ul class="nav-items">
              {% if g.user %}
              <details class="user-dropdown">
                <summary>
                  <div class="navigation-avatar avatar"><img src="{{ g.user.display_avatar }}"></div>
                  <span>{{session["username"]}}</span>
                </summary>
                <ul>
                  <li><a href="{{ url_for('profile', username=session["username"]) }}">Profil</a></li>
                  <li><a href="{{ url_for('logout') }}">Wyloguj</a></li>
                </ul>
              </details>

              <li><a href="/movies">Moje Filmy</a></li>
              <li><a href="/watchlist">Do Obejrzenia</a></li>
              <li><a href="/lists">Listy</a></li>
            {% else %}
              <li><a href="{{ url_for('lists') }}">Listy</a></li>
              <li class="item-separated"><a href="{{ url_for('login') }}">Zaloguj się</a></li>
              <li><a href="{{ url_for('register') }}">Stwórz Konto</a></li>
            {% endif %}
            </ul>
          </nav>
        </section>
      </header>
    {% endif %}

    <main>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
              <div class="message {{ category }}">
                {{ message }}
              </div>
            {% endfor %}
        {% endif %}
      {% endwith %}

      {% block body %}
      {% endblock %}
    </main>

    <footer class="center-content">
      <section>
        <small>Pamiętaj żeby w footerze dodać creditsy TMDB</small>
      </section>
    </footer>
    </section>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
        
        const messages = document.querySelectorAll('.message');

        if (messages.length > 0) {
          setTimeout(function() {
            messages.forEach(function(msg) {
              msg.style.transition = "transform 150ms ease-out";
              msg.style.transform = "translate(-50%, calc(-100% - var(--top)))"

              setTimeout(function() {
                msg.remove();
              }, 500); 
            });
          }, 3000);
        }
      });
    </script>
  </body>
</html>
