{% extends 'base.html' %}
{{ super() }}
{% block body %}
<h1>Stwórz nową listę filmów</h1>
<form action="{{ url_for('create_list') }}" method="POST">
  <div>
    <label for="name">nazwa</label>
    <input type="text" id="name" name="name" required>
  </div>
  <div>
    <label for="description">opis</label>
    <textarea name="description" id="description" name="description"></textarea>
  </div>
  <br>
  <button type="submit">Zapisz listę</button>
  <a href="{{ url_for('lists') }}">Anuluj</a>
</form>
{% endblock %}
