{% import "macros/elements.html" as pagination_element %}
{% extends 'base.html' %}

{% block body %}

  {% if session.get("user_id") %}
    <header style="display:grid;grid-template-columns:repeat(2,1fr);">
      <section>
        <div class="subheading">
          <h2>Twoje listy</h2>
          <a class="button sm secondary" href="{{ url_for('create_list') }}">Nowa Lista</a>
        </div>
      
      {% if user_lists %}

        <div class="user-lists-wrapper">
          {% for list in user_lists %}
          <div>
            <a href="{{ url_for('list_details', list_id=list.id) }}">
              <h3>{{ list.name }}</h3>
            </a>
          </div>
          {% endfor %}
        </div>
      {% else %}
        <p><a href="{{ url_for('create_list') }}">Stwórz</a> swoją pierwszą listę.</p>
      {% endif %}
    </section>
    <section>
      <h2 class="subheading">Listy, które obserwujesz</h2>
      
      {% if followed_lists %}
        <div class="user-lists-wrapper">
          {% for list in followed_lists %}
          <div>
            <a href="{{ url_for('list_details', list_id=list.id) }}">
              <h3>{{ list.name }}</h3>
            </a>
          </div>
        {% endfor %}
        </div>
      {% else %}
        <p>Wygląda na to, że nie obserwujes jeszcze żadnej listy.</p>
      {% endif %}
    </section>
    </header>
  {% endif %}

<div class="spacing"></div>

{% if lists|length %}
  <section>
    <h2 class="subheading">Wszystkie listy</h2>

    {% for list in lists %}
      <section class="list-container">
        <a href="{{ url_for('list_details', list_id=list.id) }}">
          <div class="list-preview-movies">
            {% if list.posters %}
              {% for poster in list.posters %}
                {% if poster %}
                <div class="poster-wrapper list-poster">
                  <img
                    src="{{ poster if poster.startswith('/static') else 'https://image.tmdb.org/t/p/w92' ~ poster }}"
                    alt="poster"
                  >
                </div>
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>
        </a>
        <header class="list-preview-info">
          <a href="{{ url_for('list_details', list_id=list.id) }}">
            <h3 class="list-name">{{ list.name }}</h3>
          </a>
          <a href="{{ url_for('profile', username=list.username) }}" class="created-by">
            <p>Stworzona przez</p>
            <div class="list-user-data">
              <img class="list-preview-avatar avatar" src="{{list.avatar_url}}">
              <span>{{ list.username }}</span>
            </div>
          </a>
        </header>
      </section>
    {% endfor %}

    {{ pagination_element.render(pagination, 'lists') }}

  {% else %}
  <p>nie ma żadnych list.</p>
  {% endif %}
  </section>

{% endblock %}

