{% extends 'base.html' %}
{{ super() }}
{% block body %}

<section class="list-details-overview">
  <div>
    <div class="list-info">
      <h1 class="highlight">{{ list.name }}</h1>
      <p>
        {% if stats.followers_count %}
        {{ stats.followers_count }} Obserwujących
        {% else %}
        0 Obserwujących
        {% endif %}
      </p>
    </div>

    <p>{{list.description}}</p>
  {% if session.get('user_id') %}
    <div class="actions">
      {% if is_owner %}
        <div class="owner-actions">
          <form action="{{ url_for('remove_list', list_id=list.id) }}" method="POST">
            <button class="button sm destroy" type="submit">Usuń listę</button>
          </form>
        </div>
      {% else %}
        {% if stats.is_following %}
          <form action="{{ url_for('unfollow_list', list_id=list.id) }}" method="POST">
            <button class="button sm destroy" type="submit">Przestań obserwować</button>
          </form>
        {% else %}
          <form action="{{ url_for('follow_list', list_id=list.id) }}" method="POST">
            <button class="button sm" type="submit">Obserwuj</button>
          </form>
        {% endif %}
        {% endif %}
      </div>
      </div>
  {% endif %}
  </div>

</section>

{% if movies %}
<div class="spacing"></div>
<h3 class="subheading">Filmy na liście</h3>
<section class="movies-grid list-movies">
  {% for movie in movies %}
    <div class="poster-wrapper list-item">
      <a href="{{ url_for('movie', id=movie.tmdb_id) }}"></a>
      <img
        src="{{ movie.poster_path if movie.poster_path.startswith('/static')
        else 'https://image.tmdb.org/t/p/w200' ~ movie.poster_path }}"
      >
      {% if is_owner %}
      <div class="action-wrapper"><form class="action-form action-remove" action="{{ url_for('remove_from_list', list_id=list.id, movie_id=movie.tmdb_id) }}" method="POST">
        <button type="submit">
          <svg width="32" height="32">
            <use href="#trash"></use>
          </svg>
        </button>
      </form></div>
      {% endif %}
    </div>
  {% endfor %}
</section>
{% else %}
<p>Ta lista jest pusta.</p>
{% endif %}
{% endblock %}
