{% extends 'base.html' %}
{{ super() }}
{% block body %}

<section>
  <h1>{{ list.name }}</h1>
  <p>{{list.description}}</p>
  <p>{{stats.followers_count}}</p>
</section>

<div class="actions">
    {% if session.get('user_id') %}
      {% if is_owner %}
        <div class="owner-actions">
          <form action="{{ url_for('remove_list', list_id=list.id) }}" method="POST">
            <button type="submit">Usuń listę</button>
          </form>
        </div>
      {% else %}
        {% if stats.is_following %}
          <form action="{{ url_for('unfollow_list', list_id=list.id) }}" method="POST">
            <button type="submit">Przestań obserwować</button>
          </form>
        {% else %}
          <form action="{{ url_for('follow_list', list_id=list.id) }}" method="POST">
            <button type="submit">Obserwuj</button>
          </form>
        {% endif %}
      {% endif %}
    {% endif %}
  </div>
</div>

{% if movies %}
<h3>Filmy na liście</h3>
<ul class="list_movies">
  {% for movie in movies %}
  <li class="movie_detail_item">
    <div class="poster-wrapper list-poster">
      <img
        src="{{ movie.poster_path if movie.poster_path.startswith('/static')
        else 'https://image.tmdb.org/t/p/w200' ~ movie.poster_path }}"
      >
    </div>
    <a href="{{ url_for('movie', id=movie.tmdb_id) }}">{{ movie.title }}</a>
    {% if is_owner %}
    <form action="{{ url_for('remove_from_list', list_id=list.id, movie_id=movie.tmdb_id) }}" method="POST">
      <button type="submit" >Usuń</button>
    </form>
    {% endif %}
  </li>
  <br>
  {% endfor %}
</ul>
{% else %}
<p>Ta lista jest pusta.</p>
{% endif %}
{% endblock %}
