{% extends 'base.html' %}
{{ super() }}
{% block body %}

<section class="form-wrapper">
  <header>
    <a href="{{url_for('index')}}">
      <img src="{{url_for("static", filename="/images/logo.svg")}}" alt="Popcco Logo">
    </a>
  </header>
  <form action="/login" method="POST">
    <label for="username">Nazwa</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Hasło</label>
    <input type="password" id="password" name="password" required>
    <button type="submit">Zaloguj się</button>
  </form>

  <p>Nie masz jeszcze konta? <a href="{{url_for('register')}}">Stwórz je</a>.</p>
</section>

{% endblock %}
