{% import "macros/elements.html" as element %}
{% extends 'base.html' %}
{% block body %}

<div class="spacing sm"></div>

<section class="movie-details">
  <div class="movie-details-poster">
    <div class="poster-wrapper">
      <img src="{{ movie.get_poster_url('w500') }}" alt="{{ movie.title }}">
    </div>
  </div>

    <section class="movie-overview">
      <section class="movie-details-title">
        <h1 class="highlight">{{ movie.title }}</h1>
        <p>{{ movie.release_date[:4] if movie.release_date else "Data nieznana"}}</p>
      </section>

      <section class="movie-details-overview">
        <h3 class="sub">{{movie.tagline}}</h3>
        <p>{{movie.description}}</p>
        <div class="movie-details-genres">
          {% for genre in movie.genres if movie.genres %}
          <div class="badge">{{genre}}</div>
          {% endfor %}
        </div>
      </section>


      {% if stats.avg_rating != None %}
        <div class="movie-rating">
          <div class="display-rating">
            <svg width="64" height="64">
              <use href="#icon-popcorn"></use>
            </svg>
            <p>{{stats.avg_rating}}</p>
          </div>
          <p>na {{stats.rating_count}} 
            {% if stats.rating_count == 1 %}
            ocenę
            {% elif stats.rating_count > 1 and stats.rating_count <= 4 %}
            oceny
            {% else %}
            ocen
            {% endif %}
          </p>
        </div>
      {% endif %}
  </section>

</section>


{% if session.get('user_id') %}
  <section class="movie-details-panel">

    <div class="panel-actions">{% if movie.is_watched %}
      <form action="{{ url_for('remove_watched', movie_id=movie.tmdb_id) }}" method="POST">
          <button type="submit" class="button secondary"> 
            <svg width="48" height="48" class="action-icon-eye" data-watched="true">
              <use href="#icon-eye"></use>
            </svg>
          </button>
        </form>
      {% else %}
        <form action="{{ url_for('mark_watched', movie_id=movie.tmdb_id) }}" method="POST">
          <button type="submit" class="button secondary">
            <svg width="48" height="48" class="action-icon-eye" data-watched="false">
              <use href="#icon-eye"></use>
            </svg>
          </button>
        </form>
      {% endif %}

      {% if movie.is_on_watchlist %}
        <form action="{{ url_for('remove_from_watchlist', movie_id=movie.tmdb_id) }}" method="POST">
          <button type="submit" class="button secondary">
            <svg width="48" height="48" class="action-icon-save" data-watchlist="true">
              <use href="#icon-save"></use>
            </svg>
          </button>
        </form>
      {% else %}
        <form action="{{ url_for('add_to_watchlist', movie_id=movie.tmdb_id) }}" method="POST">
          <button type="submit" class="button secondary">
            <svg width="48" height="48" class="action-icon-save" data-watchlist="false">
              <use href="#icon-save"></use>
            </svg>
          </button>
        </form>
      {% endif %}

      <form action="{{ url_for('mark_watched', movie_id=movie.tmdb_id) }}" method="POST">
        <div class="rating-group">
            {% for i in range(5, 0, -1) %}
              <input
                  type="radio"
                  name="rating"
                  id="rating-{{i}}"
                  value="{{i}}"
                  onchange="this.form.submit()"
                  {% if movie.rating == i %} checked {% endif %}
              >
              <label for="rating-{{i}}"></label>
            {% endfor %}
        </div>
      </form>

      {% if movie.rating %}
      <form action="{{ url_for('delete_rating', movie_id=movie.tmdb_id) }}" method="POST">
        <button type="submit" class="button destroy sm">
          Usuń ocenę
        </button>
      </form>
      {% endif %}
    </div>



    {% if lists %}
      <div class="add-to-list-section">
        <form action="{{ url_for('add_to_list', movie_id=movie.tmdb_id) }}" method="POST">
          <label for="list_id">Dodaj do listy</label>
          <section>
            <select class="button secondary" name="list_id" id="list_id">
              {% for list in lists %}
                  <option value="{{ list.id }}">{{ list.name }}</option>
              {% endfor %}
            </select>
            <button class="button secondary">
              <svg width="20" height="20">
                <use href="#icon-add"></use>
              </svg>
            </button>
          </section>
        </form>
      </div>
    {% endif %}



    <div class="add-comment-section">
      <form action="{{ url_for('add_comment', movie_id=movie.tmdb_id) }}" method="POST">
        <textarea name="content" id="content"></textarea>
        <button class="button sm" type="submit">Dodaj komentarz</button>
      </form>
    </div>

  </section>
{% else %}
  <p><a href="{{url_for('login')}}">Zaloguj się</a> żeby oceniać.</p>
{% endif %}


<div class="spacing"></div>
<h4 class="subheading">Komentarze</h4>

<div id="comments-wrapper">
    {% if comments %}
        {% for comment in comments %}
                <div class="comment">
                  <img class="comment-avatar avatar" src="{{comment.avatar_url}}" alt="user's avatar">

                  <section>
                    <div class="content">
                      <h4><a href="{{url_for("profile", username=comment.username)}}">{{ comment.username }}</a></h4>
                        {% if comment.rating %} 
                        <div class="rating">
                          {% for _ in range(comment.rating) %}
                          {{ element.popcorn(20) }}
                          {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <p>{{ comment.content }}</p>
                  </section>

                  {% if comment.username == session.get('username') %}
                    <form
                      class="remove-comment"
                      action="{{ url_for('remove_comment', movie_id=movie.tmdb_id) }}"
                      method="POST"
                    >
                      <button class="button destroy sm" type="submit">Usuń komentarz</button>
                    </form>
                  {% endif %}

              </div>
        {% endfor %}
    {% else %}
        <p>Brak komentarzy pod tym filmem.</p>
    {% endif %}
</div>

{% endblock %}
