{% import "macros/elements.html" as element %}
{% extends 'base.html' %}
{% block body %}

<div class="spacing sm"></div>

<section class="movie-details">
  <div class="movie-details-poster">
    <div class="poster-wrapper">
      <img src="{{ movie.get_poster_url('w500') }}" alt="{{ movie.title }}">
    </div>
  </div>

  <section class="movie-details-title">
    <h1 class="highlight">{{ movie.title }}</h1>
    <p>{{ movie.release_date[:4] if movie.release_date else "Data nieznana"}}</p>
  </section>

  <section class="movie-details-overview">
    <h3>{{movie.tagline}}</h3>
    <p>{{movie.description}}</p>
    <div class="movie-details-genres">
      {% for genre in movie.genres if movie.genres %}
      <div class="badge">{{genre}}</div>
      {% endfor %}
    </div>
  </section>


  {% if stats.avg_rating != None %}
  <div class="movie-rating">
    <div class="display-rating">
      <svg width="64" height="64">
        <use href="#icon-popcorn"></use>
      </svg>
      <p>{{stats.avg_rating}}</p>
    </div>
    <p>na {{stats.rating_count}} oceny</p>
  </div>
  {% endif %}

{% if session.get('user_id') %}
  <section class="movie-details-panel">

    {% if movie.is_watched %}
      <form action="{{ url_for('remove_watched', movie_id=movie.tmdb_id) }}" method="POST">
        <button type="submit">Obejrzano</button>
      </form>
    {% else %}
      <form action="{{ url_for('mark_watched', movie_id=movie.tmdb_id) }}" method="POST">
        <button type="submit">Dodaj do Obejrzanych</button>
      </form>
    {% endif %}

    {% if movie.is_on_watchlist %}
      <form action="{{ url_for('remove_from_watchlist', movie_id=movie.tmdb_id) }}" method="POST">
        <button type="submit">Usuń z Do Obejrzenia</button>
      </form>
    {% else %}
      <form action="{{ url_for('add_to_watchlist', movie_id=movie.tmdb_id) }}" method="POST">
        <button type="submit">Chcę Obejrzeć</button>
      </form>
    {% endif %}

    {% if lists %}
      <form action="{{ url_for('add_to_list', movie_id=movie.tmdb_id) }}" method="POST">
        <label for="list_id">Dodaj do listy:</label>
        <select name="list_id" id="list_id">
            {% for list in lists %}
                <option value="{{ list.id }}">{{ list.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Dodaj</button>
      </form>
    {% else %}
      <p>Nie masz jeszcze żadnych list.</p>
      <a href="{{ url_for('create_list') }}">Stwórz swoją pierwszą listę</a>
    {% endif %}

    <form action="{{ url_for('mark_watched', movie_id=movie.tmdb_id) }}" method="POST">
      <div class="rating-group">
        <label for="rating">Twoja ocena (1-5):</label>
        <select name="rating" id="rating">
          <option value="" {% if not movie.rating %}selected{% endif %}>Brak oceny</option>
          
          {% for i in range(1, 6) %}
              <option value="{{ i }}" {% if movie.rating == i %} selected {% endif %}>
                  {{ i }}
              </option>
          {% endfor %}
        </select>
      </div>
      
      <button type="submit">
         {% if movie.rating %}Aktualizuj ocenę{% else %}Oceń{% endif %}
      </button>
    </form>


    <form action="{{ url_for('add_comment', movie_id=movie.tmdb_id) }}" method="POST">
      <textarea name="content" id="content"></textarea>
      <button type="submit">Dodaj komentarz</button>
    </form>

  </section>
{% else %}
  <p><a href="{{url_for('login')}}">Zaloguj się</a> żeby oceniać.</p>
{% endif %}

</section>

<div class="spacing"></div>
<h4 class="subheading">Komentarze</h4>

<div id="comments-wrapper">
    {% if comments %}
        {% for comment in comments %}
                <div class="comment">
                  <img class="comment-avatar avatar" src="{{comment.avatar_url}}" alt="user's avatar">

                  <section>
                    <div class="content">
                      <h4>{{ comment.username }}</h4>
                        {% if comment.rating %} 
                        <div class="rating">
                          {% for _ in range(comment.rating) %}
                          {{ element.popcorn(20) }}
                          {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <p>{{ comment.content }}</p>
                  </section>

                  {% if comment.username == session.get('username') %}
                    <form
                      class="remove-comment"
                      action="{{ url_for('remove_comment', movie_id=movie.tmdb_id) }}"
                      method="POST"
                    >
                      <button class="button destroy sm" type="submit">Usuń komentarz</button>
                    </form>
                  {% endif %}

              </div>
        {% endfor %}
    {% else %}
        <p>Brak komentarzy pod tym filmem.</p>
    {% endif %}
</div>

{% endblock %}
