{% extends 'base.html' %}

{% block body %}
<div>
    <div class="spacing"></div>
    <div id="user-profile">

        <section class="avatar-section">
            <div class="profile-avatar avatar">
               <img src="{{ user.display_avatar }}" alt="{{ user.username }}">
            </div>

            <div class="info-section">
                <h1 class="highlight">{{ user.username }}</h1>
                
                {% if is_owner %}
                    <form
                      action="{{ url_for('upload_avatar') }}"
                      method="POST"
                      enctype="multipart/form-data"
                    >
                        <label
                          class="button sm secondary upper"
                          for="avatar_input"
                        >
                            Zmień zdjęcie
                        </label>
                        <input
                          id="avatar_input"
                          type="file"
                          name="avatar"
                          accept="image/*" 
                          style="display:none;"
                          onchange="this.form.submit()"
                        >
                    </form>
                {% endif %}
            </div>
        </section>

        {% if user.bio %}
          <p>{{ user.bio }}</p>
        {% endif %}

        <section class="user-stats">
            <div class="stat">
                <p>Obejrzanych</p>
                <h3>{{ stats.watched_count }}</h3>
            </div>
            <div class="stat">
                <p>Do Obejrzenia</p>
                <h3>{{ stats.watchlist_count }}</h3>
            </div>
            <div class="stat">
                <p>Listy</p>
                <h3>{{ stats.lists_count }}</h3>
            </div>
            <div class="stat">
                <p>Komentarze</p>
                <h3>{{ stats.comments_count }}</h3>
            </div>
        </section>


    </div>
</div>
{% endblock %}
