{% extends 'base.html' %}

{% block body %}
<section class="form-wrapper">
  <header>
    <a href="{{url_for('index')}}">
      <img src="{{url_for("static", filename="/images/logo.svg")}}" alt="Popcco Logo">
    </a>
  </header>
  <form action="/register" method="POST">
    <label for="username">Nazwa</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Hasło</label>
    <input type="password" id="password" name="password" required>
    <label for="repassword">Powtórz Hasło</label>
    <input type="password" id="repassword" name="repassword" required>
    <button type="submit">Stwórz Konto</button>
  </form>

  <p>Masz już konto? <a href="{{url_for('login')}}">Zaloguj się</a>.</p>
</section>

{% endblock %}
