{% import "macros/buttons.html" as ui %}

{% extends "base.html" %}

{% block body %}

  <h1 class="subheading">Twoja lista do obejrzenia</h1>

  {% if not movies %}
    <div>
      <p>Twoja lista jest pusta.</p>
      <a href="{{ url_for('search') }}">Szukaj filmów do dodania</a>
    </div>
  {% else %}
    <div class="movies-grid">
      {% for movie in movies %}
        <div class="poster-wrapper">
            <img
              src="{{ movie.poster_path if movie.poster_path.startswith('/static')
                      else 'https://image.tmdb.org/t/p/w200' ~ movie.poster_path }}"
            >
            <a href="{{ url_for('movie', id=movie.tmdb_id) }}"></a>


          <div class="action-wrapper">
            {% if movie.is_watched %}
              <form class="action-form action-watched-form" action="{{ url_for('remove_watched', movie_id=movie.tmdb_id) }}" method="POST">
                  {{ ui.button_eye(movie.is_watched) }}
              </form>
            {% else %}
              <form class="action-form action-watched-form" action="{{ url_for('mark_watched', movie_id=movie.tmdb_id) }}" method="POST">
                  {{ ui.button_eye(movie.is_watched) }}
              </form>
            {% endif %}


            {% if movie.is_on_watchlist %}
              <form class="action-form action-saved-form" action="{{ url_for('remove_from_watchlist', movie_id=movie.tmdb_id) }}" method="POST">
                  {{ ui.button_save(movie.is_on_watchlist) }}
              </form>
            {% else %}
              <form class="action-form action-saved-form" action="{{ url_for('add_to_watchlist', movie_id=movie.tmdb_id) }}" method="POST">
                  {{ ui.button_save(movie.is_on_watchlist) }}
              </form>
            {% endif %}
          </div>

        </div>
      {% endfor %}
    </div>
  {% endif %}

{% endblock %}
