{% extends "base.html" %}

{% block body %}

  <h1 class="highlight">Twoja lista do obejrzenia</h1>

  {% if not movies %}
    <div>
      <p>Twoja lista jest pusta.</p>
      <a href="{{ url_for('search') }}">Szukaj filmów do dodania</a>
    </div>
  {% else %}
    <div class="movies-grid">
      {% for movie in movies %}
        <div class="poster-wrapper">
            <img
              src="{{ movie.poster_path if movie.poster_path.startswith('/static')
                      else 'https://image.tmdb.org/t/p/w200' ~ movie.poster_path }}"
            >
            <a href="{{ url_for('movie', id=movie.tmdb_id) }}"></a>
          <div class="action-wrapper">
            <form action="{{ url_for('mark_watched', movie_id=movie.tmdb_id) }}" method="POST">
              <button type="submit">
                Obejrzałem
              </button>
            </form>
            <form action="{{ url_for('remove_from_watchlist', movie_id=movie.tmdb_id) }}" method="POST">
              <button type="submit">
                Usuń
              </button>
            </form>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}

{% endblock %}
